{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    <div id="tweets-react-feed"></div>
{% else %}
    <div class="container mt-4">
        {% include "components/navbar.html" %}
        <h1>Welcome to twitter clone</h1>
        <h2>Don't miss what's happening. Log in or sign up.</h2>
    </div>
    <div class="container mt-5">
        <h4>Trends for you</h4>
        <div style="border-radius: 25px; border: 2px solid white; height: 100px; width: 50%;">
        </div>
    </div>
{% endif %}

{% endblock content %}